* {
	font-family: �L�n������;
	position: relative;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(243, 243, 241);
}

.topBox {
	width: 100%;
	height: 80px;
	background-color: #fca542;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 28px;
}

.leftPage {
	height: 800px;
	/* border: solid 1px black; */
	top: 100px;
	margin-bottom: 150px;
	background: linear-gradient(#81FBB8, #28C76F)
}

.rightPage {
	height: auto;
	top: 100px;
	margin-left: 50px;
	margin-bottom: 150px;
	font-size: 16px;
	background-color: #fff;
}

.box1 {
	padding: 30px 0;
	text-align: center;
}

.box1:hover {
	background-color: #1fd125;
	transition: 0.5s;
}

.userPicture {
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.userchangeimg{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: absolute;
	top: 110px;
	right: 60px;
	opacity: 0.5;
}
.userchangeimg:hover{
	opacity: 1;
}

a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.signOut {
	top: 180px;
	text-align: center;
}

.buyedbox {
	width: 95%;
	height: 120px;
	margin: 15px;
	padding: 20px;
}

.videoimage {
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 30px;
}

.videoname {
	padding-top: 30px;
	width: 40%;
	display: inline-block;
	margin-right: 30px;
}

.buyedtime {
	padding-top: 20px;
	display: inline-block;
	margin-right: 30px;
}

.buyedcash {
	padding-top: 20px;
	display: inline-block;
}

.modal-header h3 {
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.modal-body form .password, .modal-body form .password2 {
	margin: 10px;
	width: 90%;
	border-radius: 5px;
}

.modal-body form .btn {
	margin: 15px;
	font-size: 16px;
}